<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <h3>Main Dashboard</h3>
    <hr>
        <div class="row">
          <div class="col-md-6">
            <h4> Current Projects</h4>
            <table class="table table-bordered table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Project Id</th>
                  <th>Project Name</th>
                  <th>Project Stage</th>
                </tr>
              </thead>
              <tbody>
              <tr th:each="aProject :${projectsList}">
                <td th:text="${aProject.projectId}"></td>
                <td th:text="${aProject.name}"></td>
                <td th:text="${aProject.stage}"></td>
              </tr>
              </tbody>
             </table>
          </div>

        <div class="col-md-4">
            <canvas id="myPieChart" height="50" width="50"></canvas>
            <script>
               var chartData = "[[${projectStatusCount}]]"
            </script>
        </div>
        </div>
    </div>

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <br/>
              <h4> Current Employees</h4>
                <table class="table table-bordered table-striped">
                  <thead  class="thead-dark">
                  <tr>
                    <th>Employee Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Project Count</th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr th:each="employeesList :${employeesProjectCount}">
                        <td th:text="${employeesList.Employee_id}"></td>
                        <td th:text="${employeesList.firstName}"></td>
                        <td th:text="${employeesList.lastName}"></td>
                        <td th:text="${employeesList.ProjectCount}"></td>
                      </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>




<script type="text/javascript" th:src="@{js/myChart.js}"></script>

</body>

</html>